
body{

}
body,html{
	margin: 0;
	padding: 0;
	height: 100%;
}
.bg{
	height: 100%;
}
.big{
    /*width: 1920px;*/
    /*height: 1000px;*/
   height: 100%;
    margin: 0;
}
.ban{
    position: relative;
    width: 100%;
    height: 150px;
    font-size: 2rem;
    background: url(../img/ban.png);
}
.banspan{
    position: absolute;
    display: block;
    /*transform: translate(-50%,-50%);
    left: 50%;
    top:50%;*/
   right:0px;
   bottom:0px;
}
.hellospan{
    /*position: relative;
    top: 79px;
    right: -830px;*/
    font-size: 1.5rem;
}
.outbutton{
    display: block;
    width: 73px;
    height: 50px;

    background: url(../img/out.png) 0 7px no-repeat;
    /*position: relative;
    right: -930px;
    top:35px;*/
}
.outbutton:hover{
    background: url(../img/default.png) 0 7px no-repeat;
}
.info{
    width: 11%;
    height: 5%;
    background:  #61866b;
    color: white;
    font-size: 1.5rem;

}
.navtext{
    position: relative;
    left: 5px;
}
/*.navhead{*/
    /*width: 11%;*/
    /*height: 100%;*/
    /*display: block;*/
    /*font-size: 1.5rem;*/

    /*background: rgba(51,67,73,0.5);*/

/*}*/
/*.navbottom{*/
    /*position: relative;*/
    /*right:-89%;*/
    /*top:-100%;*/
    /*width: 11%;*/
    /*height: 100%;*/
    /*display: block;*/
    /*background: rgba(51,67,73,0.5);*/
/*}*/
.navtext{
    display: block;
    padding-top: 8px;
    margin-left: 15px;
}
.nav{
    height: 88%;
    width: 11%;
    background: #393D49;
}
.ifm{
    height: 93%;
    width: 89%;
    position: relative;
    right:-11%;
    top:-93%;
}
iframe{
    height: 93%;
    width: 100%;
}
a:hover{
    background:#424651;
}
@media screen and (min-width: 1200px){body{
    overflow-x: hidden;
}  }
@media screen and (min-height: 700px){body{
    overflow-y: hidden;
}  }